@charset "utf-8";


@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html,body 
{
  margin: 0;
  padding: 0;
  background-image: url('img/bg/hotel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
   margin:0px auto;
font-family: 'Hammersmith One', sans-serif;
  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

/* ---------- LOGIN ---------- */


.topContainer{
	position: relative;
	padding-left: 3%;
	width: auto;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
}
.topContainer p{
	color: #fff;
	font-size: 15px;
	display: inline-block;
}
.topContainer p[id="infoTitle"]{
	color: #ffcc00;
	padding: 0.5%;
	padding-left: 3%;
	font-size: 15px;
	display: inline-block;
}

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
#showMenuSpan
{
	position: absolute;
	padding: 0.5%;
	left: 2%;
	color:#fff;
	font-size: 25px;
}
#closeMenu
{
	color:#fff;
	font-size: 35px;
}
#showMenuSpan:hover, #closeMenu:hover,.sidenav a:hover
{
	color: #ffcc00;
}
#showMenuSpan:active, #closeMenu:active,.sidenav a:active
{
	color: #ffaa00;
	text-shadow: 0px 0px 8px #fff;
}
/* The navigation menu links */
.sidenav a {
    padding: 5px 5px 25px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.offcanvas a:focus{
    color: #ffcc00;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/**********POPUP INFO**********/
.popupInfo #title,.popupResponse #title
{
	margin: 0;
	text-align: center;
	padding: 5px;
	font-size: 40px;	
}
.popupResponse #title
{
font-size: 30px;	
}

.popupInfo #room,.popupResponse #room
{
	text-align: center;
	padding: 5px;
	font-size: 20px;
	color: #2ee7be;
	box-shadow: 0 5px 5px 0 #303030;
}
.popupInfo #info,.popupResponse #info
{
	text-align: center;
	padding: 15px;
	font-size: 13px;
}
.popupInfo #infoFooter,.popupResponse #infoFooter
{
	display: none;
	text-align: center;
	padding: 5px;
	font-size: 11px;
}
.popupInfo,.popupResponse
{
display: none;
color: #fff;
position: absolute;
width: 25%;
min-height: 180px;
background-color: #2c2f3e;
box-shadow: 0px 2px 2px 2px rgba(30,30,30,0.5);
}
.popupInfo #closeMenu
{
	text-decoration: none;
	float: right;
	padding: 5px;
}

.infoAction
{

}
#deleteReq, #responseReq,#closeResponse,#sendResponse
{
padding: 10px;
color: white;
border: none;
width: 50%;
}

#deleteReq,#closeCreator,#closeResponse
{
background-color: #2aa7be;
}
#deleteReq:hover,#closeCreator:hover,#closeResponse:hover
{
background-color: #2777be;
}
#responseReq,#createAccount,#sendResponse
{
background-color: #2ff7ff;
}
#responseReq:hover,#createAccount:hover,#sendResponse:hover
{
background-color: #2cc7ff;
}
#deleteReq:active, #responseReq:active,#closeCreator:active,#createAccount:active,#closeResponse:active,#sendResponse:active
{
background-color: #2ee7be;
}


textarea
{
	resize: none;
	overflow: auto;
	width: 90%;
}
/**********REQUEST**********/
.requestsPanel
{
position: absolute;
margin: 100px 10% auto;
left: 0;
right: 0;
height: auto;
background-color: rgba(255, 255, 255, 0.1)
}
.fa-bed
{
color: #3333ff;
}
.fa-wrench{
color: #cc0000;
}
.fa-cutlery{
color: #ff9900;
}
.fa-globe{
color: #00cc00;
}
.fa-bus{
color: #ffff66;
}
.fa-medkit{
color: #800000;
}
.request
{
	display: inline-block; 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 11px;
	text-align:center;
	color: #29cdf2;
	text-shadow: 1px 1px #000000;
	margin: 10px;
	border-radius: 15px;
	width: auto;
	min-width: 125px;
	overflow: auto;
	padding: 15px;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}
.request:hover
{
	color: #ffcc00;
	 box-shadow: 0px 0px 16px 0px rgba(255,230,00,0.3);
}
.request:active
{
	color: #ffcc00;
	box-shadow: 0px 0px 8px 0px rgba(255,230,00,0.4);
}

/**************ACCOUNT CREATOR**************/
.createAccount
{
	display: none;
	position: absolute;
	width: 25%;
	min-height: 180px;
	background-color: #2c2f3e;
	box-shadow: 0px 2px 2px 2px rgba(30,30,30,0.5);
}
.createAccount #title
{	margin: 0;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	color: #fff;
}
#nameField,#surnameField
{
	display: inline-block;
}

.createAccount .in
{
	overflow: auto;
	background-color: #2aa7be;
}
.createAccount p .fa{
padding: 5px;
padding-bottom: 0px;
width: 40px;
margin-top: 5px;
color:white;

}

.createAccount input
{
	background-color: #f0f0f0;
	padding: 8px 3px 8px 3px;
	width: auto;
	color:black;
	margin-bottom: 0px;
	box-shadow: 0px;
}
.createAccount input:focus
{
box-shadow: 0px 2px 2px 2px rgba(30,30,30,0.7);
background-color: rgba(30,30,30,0.1);
color:black;
}
#createInfo
{
	display: none;
	color: white;
	text-align: center;
	padding: 15px;

}
.createAccount #nameSurname,#numberPass,#checkInOut,#others
{
	text-align: center;
	padding: 5px;
	font-size: 17px;
	color: #2ee7be;
}
#closeCreator, #createAccount
{
	padding: 10px;
	color: white;
	border: none;
	width: 50%;
}
#othersField
{
	width:90%;
	padding-right: 0;
	margin-right: 0;
}
.othersArea .in{
	margin-right: 15%;
	margin-left: 15%;
	padding-right: 0;
}

