@charset "utf-8";


@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html,body 
{
  margin: 0;
  padding: 0;
  background-image: url('img/bg/hotel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.main{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */

height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;
font-family: 'Hammersmith One', sans-serif;
  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
line-height: 125px;
margin-top: 20px;
}

#login form span.fa {
	background-color: #ffcc00;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
	background-color: rgba(0,0,0,0.3);
	border-radius: 0px 3px 3px 0px;
	color: #fff;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="text"]:focus, input[type="password"]:focus {
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 0px 8px rgba(255,255,255,0.4);
  }

#login form button[type="submit"] {
  border-radius: 3px;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form button[type="submit"]:hover {
	background-color: #ffcc00;
}
#login form button[type="submit"]:active {
  background-color: #ffbb00;
  box-shadow: 0px 0px 5px #fff;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  padding-top: 4%;
  border-radius: 30px 30px 0px 30px;
  display: flex;
  width: 600px;
  background-color: rgba(0,0,0,0.7);
}

.connectionInfo
{
  width: 30%;
  height: 30px;
  float: right;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(0,0,0,0.7);
}
.connectionInfo p
{
display: inline-block;
color: #fff;
font-size: 13px;
padding-left: 10px;
}
.connectionInfo p[id="disconnected"]
{
 color: red;
}
.connectionInfo p[id="connected"]
{
 color: green;
}

.small-text
{
  font-size: 12px;
}