@charset "utf-8";


@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html,body 
{
  margin: 0;
  padding: 0;
  background-image: url('img/bg/hotel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
   margin:0px auto;
font-family: 'Hammersmith One', sans-serif;
  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

/* ---------- LOGIN ---------- */


.topContainer{
	position: relative;
	padding-left: 5%;
	width: auto;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
}
.topContainer p{
	color: #fff;
	font-size: 15px;
	display: inline-block;
}
.topContainer p[id="infoTitle"]{
	color: #ffcc00;
	padding: 0.5%;
	padding-left: 4%;
	font-size: 15px;
	display: inline-block;
}

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
#showMenuSpan
{
	position: absolute;
	padding: 0.5%;
	left: 2%;
	color:#fff;
	font-size: 25px;
}
#closeMenu
{
	color:#fff;
	font-size: 35px;
}
#showMenuSpan:hover, #closeMenu:hover,.sidenav a:hover
{
	color: #ffcc00;
}
#showMenuSpan:active, #closeMenu:active,.sidenav a:active
{
	color: #ffaa00;
	text-shadow: 0px 0px 8px #fff;
}
/* The navigation menu links */
.sidenav a {
    padding: 5px 5px 25px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.offcanvas a:focus{
    color: #ffcc00;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



.popupInfo #title
{
	border-radius: 10px 10px 0px 0px;
	margin: 0;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	background-color: rgba(0,0,0,0.8);
	color: #ffcc00;
	box-shadow: 0 5px 5px 0 #303030;
}

.popupInfo #room
{
	text-align: center;
	padding: 5px;
	font-size: 17px;
	background-color: #ffaa00;
	color: #fff;
	box-shadow: 0 5px 5px 0 #303030;
}

.popupInfo #info
{
	color: #ffcc00;
	text-align: center;
	padding: 15px;
	font-size: 18px;
}

.popupInfo #infoFooter
{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: center;
	padding: 5px;
	font-size: 13px;
	background-color: #ffaa00;
	color: #fff;
	box-shadow: 0 5px 5px 0 #303030;
}

.popupInfo
{
display: none;
position: absolute;
width: 25%;
border-radius: 15px;
border: 2px solid #303030;
min-height: 180px;
background-color: rgba(0,0,0,1);
box-shadow: 0px 8px 13px 0px #a0a0a0;
}

.requestTitle,.infoPanelTitle
{
	color: white;
	padding: 10px;
	font-size: 20px;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
}

.requestsPanel,.infoPanel
{
margin: 100px 10% auto;

left: 0;
right: 0;
background-color: rgba(255, 255, 255, 0.7)
}

.infoPanel
{
	height: 400px;
	background-color: rgba(255, 255, 255, 0.7)
}
.informacja
{
	border-top: 2px solid #fff;
	position: relative;
	min-height: 50px;
	background-color: rgba(225,204,0,0.8);
}
.informacja:hover
{

background-color: rgba(225,230,0,1);
}

.informacja p
{
	line-height: 50px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}



.fa-bed
{
color: #3333ff;
}
.fa-wrench{
color: #cc0000;
}
.fa-cutlery{
color: #ff9900;
}
.fa-globe{
color: #00cc00;
}
.fa-bus{
color: #ffff66;
}
.fa-medkit{
color: #800000;
}
.request
{
	display: inline-block; 
	font-family: 'Hammersmith One', sans-serif;
	font-size: auto;
	text-align:center;
	color: #29cdf2;
	text-shadow: 3px 3px #101010;
	margin: 15px;
	border-radius: 25px;
	width: auto;
	min-width: 150px;
	overflow: auto;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}
.request:hover
{
	color: #ffcc00;
	 box-shadow: 0px 8px 16px 0px rgba(255,230,00,0.3);
}

.request:active
{
	color: #ffcc00;
	box-shadow: 0px 4px 8px 0px rgba(255,230,00,0.4);
}



/*-------------------STARE-------------------*/



